.button-test {
   color:red;
   background-color: blue;
   border-color:green;
}
.col-height-500 {
  height:500px;
  margin-top:1rem;
}
.col-height-400{
  height:400px;
  margin-top:1rem;
}
.col-height-250{
  height:250px;
  margin-top:1rem;
}
.col-width-full{
  width:auto;
  margin-left:1rem;
  margin-right:1rem;
}
.col-width-medium{
  width:50%;
  margin: 0 auto;
}
.col-width-25{
  width:25%;
  margin: 0 auto;
}
.testtt {
  width:50%;
  margin: 0 auto;
}
.table-col-width-small{
  width:22%;
}
.table-col-width-medium{
  width:50%;
}
.col-width-35{
  width:35%;
  margin: 0 auto;
}
.col-width-40{
  width:40%;
  margin: 0 auto;
}
.col-width-50{
  width:50%;
  margin: 0 auto;
}
.col-width-55 {
  width: 55%;
  margin: 0 auto;
}
.col-width-60 {
  width: 60%;
  margin: 0 auto;
}
.col-width-70 {
  width: 70%;
  margin: 0 auto;
}
.col-width-80{
  width:80%;
  margin: 0 auto;
}
.col-width-90{
  width:90%;
  margin: 0 auto;
}
.col-width-100{
  width:100%;
  margin: 0 auto;
}
.table-col-width-max{
  width:auto;
  margin: 0 auto;
}
.img-size-big {
  height:100%;
  width:85%;
}
.col-color-light {
  background-color: #e6f9ff;
}
.button-color-jasny-niebieski{
  background-color: #039be5;
}
.button-offer-left {
  border-radius: 5px 0px 0px 5px;
  height: 30px;
  width: 67px;
  font-size: 12px;
  border-color: #d3dbde;
  background-color: transparent;
  border-right-style: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button-offer-left:hover {
  background-color:#d3dbde;
  color: white;
}
.button-offer-middle {
  height: 30px;
  width: 55px;
  font-size: 12px;
  border-color: #d3dbde;
  background-color: transparent;
  border-right-style: none;
  border-left-style: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button-offer-middle:hover {
  background-color:#d3dbde;
  color: white;
}
.button-offer-middle-admin {
  height: 30px;
  width: 55px;
  font-size: 12px;
  border-color: #d3dbde;
  background-color: transparent;
  border-right-style: none;
  border-left-style: none;-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button-offer-middle-admin:hover {
  background-color:#d3dbde;
  color: white;
}
.button-offer-right {
  border-radius: 0px 5px 5px 0px;
  height: 30px;
  width: 55px;
  font-size: 12px;
  border-color: #d3dbde;
  background-color: transparent;
  border-left-style: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button-offer-right:hover {
  background-color:#d3dbde;
  color: white;
}
.slide-height{
  height:calc(100vh - 56px) !important;
  object-fit: cover
}
.body {
    background-color:black;
}
.height-100{
  height:100%;
}
.szer-proc {
  width:50%;
}
.cena-offer {
  width:130px;
  border-radius:5px;
}

.navbar-brand-override {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-link-blue {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 400;
}

.nav-link-blue:hover, .nav-link-blue:focus {
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link-blue {
  color: #e0e0e0;
}

.navbar-dark .navbar-nav .nav-link-blue:hover, .navbar-dark .navbar-nav .nav-link-blue:focus{
  color: #29b6f6;
}

#car1 {
  background-image: url("/images/car1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#car2 {
  background-image: url("/images/car2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#car3 {
  background-image: url("/images/car3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#car4 {
  background-image: url("/images/car4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#car5 {
  background-image: url("/images/car5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#car6 {
  background-image: url("/images/car6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.dropdown-item {
  color: #eeeeee !important;
}

.dropdown-item:hover {
  background-color: #039be5 !important;
}

body{
  background-image: url("/images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.kolor-szary{
  background-color: #4B515D;
}
.kolor-jasny-szary {
  background-color: #e6e6e6;
}
#menu-gradient {
  background: linear-gradient(120deg, #616161 ,#424242);
}
.col-logowanie{
  width:35%;
  margin: 0 auto;
  margin-top: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.wyszukiwarka {
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom:5px;
  margin-bottom:30px;
}
.lista-ofert-kolor1 {
  background-color: #039be5;
}
.kafelki-oferty {
  background-color: #424242;
  color: #FFFFFF;
}
.edycja-konta-padding{
  padding-top: 6%;
}
.rejestracja-padding{
  padding-top: 3%;
}
.nowa-oferta-radius {
  border-radius:10px;
}
.light-blue-gradient {
  background: linear-gradient(120deg, #03a9f4 ,#0277bd);
}
.dark-form-content {
  background-color: #3a3a3a;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
  padding: 0px;
}
.dark-form-header {
  background: linear-gradient(120deg, #03a9f4 ,#0277bd);
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  color: #f5f5f5;
}
.dark-form-header h2{
  margin: 0px;
  text-align: center;
  font-weight: 300px;
}
.dark-form-body {
  background-color: #3a3a3a;
  margin: 0 auto;
  padding: 25px;
}
.dark-form-body .form-control {
  background-color: #333333;
  color: #888;
  border: 0px;
  margin-bottom: 15px;
}
.dark-form-body input.form-control {
  padding: 25px;
}
.dark-form-body select.form-control {
  padding: 10px;
  height: 50px;
}
.dark-form-body .form-control::placeholder {
  color: #888;
}
.dark-form-body .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(3, 155, 229, 1);
}
.dark-form-body label {
  color: #888;
  font-weight: 400;
  padding-left: 10px;
}
.light-blue-button {
  background-color: #039be5;
  color: #f5f5f5;
}
.light-blue-button:hover, .light-blue-button:active, .light-blue-button:focus {
  background-color: #0288d1;
  color: #40c4ff;
}
.background-color-white {
  background-color: white;
  border-radius:10px;
}
.background-color-test2{
  margin-top:15px;
  background-color: #3a3a3a;
}
.opinie-odstepy {
  padding-top:10px;
  padding-bottom:10px;
  margin-top: 10px;
}
.padding-top-20 {
  padding-top: 2rem;
}
.offer-info-bg {
  background-color: #f5f5f5;
  margin-top:5px;
}
table.table a{
  color: #f5f5f5;
}
::selection {
  color: white;
  background-color: #4fc3f7;
}
.profile-header {
  color: white;
  padding-top:1rem;
}
.profile-dane {
  color: white !important;
  margin: 0px;
  text-align: center;
  font-weight: 300px;
}
.profile-dane .form-control {
  color: white !important;
  text-align: center;

}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.tekst-color {
  color:white !important;
}
.user-dropdown-body {
  background-color: #424242;
  padding: 0px;
  width: auto;
  min-width: 400px;
  border-radius: 0px;
  border: 1px solid #424242 !important;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
  color: #bdbdbd;
}
.user-dropdown-body .material-icons {
  font-size: 18px;
  vertical-align: middle;
  margin-top: -4px;
}
.user-dropdown-header{
  padding: 20px;
  display: inline-block;
}
.user-dropdown-avatar {
  display: inline;
  float: left;
}
.user-dropdown-header-content {
  display: inline;
  float: left;
  padding-left: 20px;
}
.user-dropdown-header-content h4 {
  color: #0288d1;
}
.user-dropdown-header-content p {
  margin: 0;
}
.user-dropdown-content {
  background-color: #616161;
  border: 1px solid #212121;
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.user-dropdown-button {
  background-color: #616161;
  /*border: 1px solid #212121;*/
  display: inline-block;
  width: 50%;
  padding: 10px;
  text-align: center;
  float: left;
  color: #bdbdbd !important;
}
.user-dropdown-button:hover {
  background-color: #0277bd;
  color: white !important;
}
.contact-pytanie {
  background-color: #b3f0ff;
}
.contact-odpowiedz {
  background-color: #ccffcc;
}
.offer-item-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  margin-bottom: 3em;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.offer-item-container .offer-item-image-window {
  width: 50%;
  height: 300px;
}
.offer-item-container .offer-item-image-window .offer-item-image-window-background1{
  background-image: linear-gradient(#e0e0e0, #e0e0e0 ,#bdbdbd);
  width: 100%;
  height: 50%;
}
.offer-item-container .offer-item-image-window .offer-item-image-window-background2{
  background-image: linear-gradient(#e0e0e0, #eeeeee, #eeeeee, #e0e0e0);
  width: 100%;
  height: 50%;
}
.offer-item-container .offer-item-image {
  position: absolute;
  width: 50%;
  height: 300px;
  text-align: center;
}
.offer-item-container .offer-item-image img{
  max-width:100%;
  max-height:100%;
}
.offer-item-container .offer-item-content {
  position: relative;
  background: #3a3a3a;
  padding: 20px;
  color: #e0e0e0;
  flex-grow: 1;
}
.offer-item-container .offer-item-content .offer-item-header-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.offer-item-header-row .offer-item-price {
  color: #29b6f6;
}
.offer-item-button {
  background-color: #039be5;
  color: #f5f5f5;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.offer-item-button:hover {
  background-color: #0277bd;
  color: white;
}
.offer-item-content p>i.material-icons{
  font-size: 24px;
  margin-top: -8px;
  vertical-align: middle;
}
.pagination-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #e0e0e0;
  font-size: 20px;
  background: #3a3a3a;
  text-align: center;
  padding: 5px;
}
.pagination-bar .pagination{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.pagination-bar .pagination .page-item .page-link{
  color: #f5f5f5;
}
.pagination-bar .pagination .page-item .page-link:hover{
  background-color: #616161;
}
.pagination-bar .pagination .active .page-link{
  background-color: #0277bd;
}
.pagination-bar .pagination .active .page-link:hover{
  background-color: #039be5;
}
.offer-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.offer-info-container .offer-info-image-window{
  width: 100%;
  height: 300px;
}
.offer-info-container .offer-info-image-window .offer-info-image-window-background1{
  background-image: linear-gradient(#e0e0e0, #e0e0e0 ,#bdbdbd);
  width: 100%;
  height: 50%;
}
.offer-info-container .offer-info-image-window .offer-info-image-window-background2{
  background-image: linear-gradient(#e0e0e0, #eeeeee, #eeeeee, #e0e0e0);
  width: 100%;
  height: 50%;
}
.offer-info-container .offer-info-image{
  position: absolute;
  width: 100%;
  height: 300px;
  text-align: center;
}
.offer-info-container .offer-info-image img{
  max-width: 100%;
  max-height: 100%;
}
.offer-info-container .offer-info-content{
  position: relative;
  background: #eeeeee;
  padding: 40px;
  color: #212121;
  text-align: left;
}
.offer-info-container .offer-info-content .offer-info-header-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.offer-info-header-row h1{
  font-weight: 400;
}
.offer-info-header-row .offer-info-price {
  color: #0288d1;
}
.offer-info-content p{
  font-size: 22px;
  font-weight: 400;
}
.offer-info-content p>i.material-icons{
  font-size: 28px;
  margin-top: -8px;
  vertical-align: middle;
}
.offer-info-content .offer-info-description{
  margin-top: 30px;
  font-size: 22px;
  font-weight: 400;
}
.offer-info-content .offer-info-description h1{
  text-align: center;
  font-weight: 400;
}
.offer-info-container .offer-info-buttons-row{
  padding: 40px;
  width: 100%;
  background: #3a3a3a;
  display: flex;
}
.offer-info-buttons-row .offer-info-button{
  background-color: #039be5;
  color: #f5f5f5;
}
.offer-info-buttons-row .offer-info-button:hover{
  background-color: #0277bd;
  color: white;
}
.opinion-list-container{
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.opinion-list-container .opinion-list-image-window{
  width: 100%;
  height: 300px;
}
.opinion-list-container .opinion-list-image-window .opinion-list-image-window-background1{
  background-image: linear-gradient(#e0e0e0, #e0e0e0 ,#bdbdbd);
  width: 100%;
  height: 50%;
}
.opinion-list-container .opinion-list-image-window .opinion-list-image-window-background2{
  background-image: linear-gradient(#e0e0e0, #eeeeee, #eeeeee, #e0e0e0);
  width: 100%;
  height: 50%;
}
.opinion-list-container .opinion-list-image{
  position: absolute;
  width: 100%;
  height: 300px;
  text-align: center;
}
.opinion-list-container .opinion-list-image img{
  max-width: 100%;
  max-height: 100%;
}
.opinion-list-container .opinion-list-content{
  position: relative;
  background: #eeeeee;
  padding: 40px;
  color: #212121;
  text-align: left;
}
.opinion-list-container .opinion-list-content .opinion-list-header-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.opinion-list-header-row h1{
  font-weight: 400;
}
.opinion-list-header-row h1 i.material-icons{
  font-size: 36px;
  margin-top: -8px;
  vertical-align: middle;
}
.opinion-list-header-row h1.opinion-list-rating{
  color: #01579b;
}
.opinion-info-container{
  display: flex;
  background-color: #f5f5f5;
  width: 100%;
  padding: 20px;
  border: 1px solid #bdbdbd;
  margin-top: 30px;
  margin-bottom: 30px;
}
.opinion-info-container .opinion-info-avatar{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.opinion-info-container .opinion-info-content{
  margin-left: 30px;
  margin-right: 30px;
}
.opinion-info-container .opinion-info-rating{
  margin-left: auto;
}
.opinion-info-container .opinion-info-rating p{
  width: 80px;
}
